<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
        <div class="header-right">
            <ahref="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/projects">Projects</a>
            <a href="/survey">Survey</a>
        </div>
    </div>
        <div>
            <h1>Submitted Info:</h1>
            <h3>Name: @ViewBag.Name</h3>
            <h3>Your Location: @ViewBag.Location</h3>
            <h3>Favorite Language: @ViewBag.Language</h3>
            <h3>Comment: @ViewBag.Comment</h3>
        </div>
</body>
</html>
